apiVersion: v1
kind: Secret
metadata:
  name: pihole-secret
  namespace: pihole
type: Opaque
stringData:
  # This will be your login password for the web dashboard
  password: "YourSecurePasswordHere"